
.search-bar {
    height: 45px;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
}

.dp:hover {
    -webkit-box-shadow: 0 0 3px rgb(48, 48, 48);
    box-shadow: 0 0 3px rgb(48, 48, 48);
    color: #222;
}

#search-hover:hover {
    
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
    color: #222;
}

#search-icon {
    padding: 10px;
}

#search-box {
    border: none;
    outline: none;
    width: 89%;
    margin-top: 7px;
    margin-left: 15px;
    padding: 5px;
    font-family: arial,sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background: inherit;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
    padding:17px 12px 0px 10px
}

.search-result-card {
    margin-top: 25px;
}

label {
    display: block;
    text-align: center;
    line-height: 130%;
    margin-left: 0.1em;
}

.nav-bar-icons {
    height: 80%;
}

.about-search {
    font-family: Google Sans,arial,sans-serif;
    font-size:14px;
    opacity: 50%; 
    padding-top: 5px;
}

img.google-logo {

        display: block;
        max-width:92px;
        max-height:30px;
        width: auto;
        height: auto;
padding-left: 23px;
padding-top: 36px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}